!!! 5
%html
  %head
  %link{:rel => :stylesheet, :type => :"text/css", :href => "form.css"}
  %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
  %body
    .ltp
      %p hello, this is the demo web
      %form{ :action => '/form', :method => 'post' }
        Please input the word you want to check(one word every time):
        %input{ :type => 'text', :name=> 'message' }
        %br
        Please input the top n results(n from 1 to 100):
        %input{ :type => 'text', :name=> 'rank', :placeholder =>'type in text' }
        %br
        TLP:
        %input{ :type => 'checkbox', :name =>'cat[]', :value => 'bltp' }
        %br
        ChineseLSA:
        %input{ :type => 'checkbox', :name =>'cat[]', :value => 'bchineselsa'  }
        %br
        TFIDF:
        %input{ :type => 'checkbox', :name =>'cat[]', :value => 'btfidf'}
        %br
        %input{ :type => 'submit'}
    .result
      - @data.each do |i,j|
        .inputword #{i}
        .cats
          - j.each do |k,l|
            .category
              #{k}
              - l.each do |x,y|
                .row
                  .word #{x}
                  .sim #{y}
          .clear
