body {
  TEXT-ALIGN: center;
}

.ltp {
  color: blue;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  border: 10px;
  solid: #700;
}

p {
  color: red;
}
.category {
  width: 300px;
  float: left;
  margin-right: auto;
  margin-left: auto;
  vertical-align:middle;
}

.cats {
  margin: 50px auto;
  width: 600px;
}

.word {
  width: 100px;
  display: inline-block;
}

.sim {
  width: 100px;
  display: inline-block;
}

.clear {
  clear: both;
}

/* height:200px;

background:#F00;

width:400px;

vertical-align:middle;

line-height:200px; */
